h1{ /*selector for all h1s*/
    color: red; /*set text color to red*/
}
.completed{ /*selector for the completed class*/
    color: gray; /*set text color to gray*/
    text-decoration: line-through; /*puts a line-through on the item*/
}